.paginator {
    padding: 10px;
    margin: 10px auto;
    width: auto;
    /* overflow: auto; Добавляем overflow: auto для контроля прокрутки */
    display: flex;
    align-items: center;
}
.pageNumber {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 6px;
    margin: 0 5px;
}
.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}

.buttonWrapper {
    padding: 0px 5px;
}

.buttonNext, .buttonPrevious  {
    padding: 3px;
    cursor: pointer;
}

.fakeButton {
    padding: 3px;
    visibility: hidden;
}