.paginator {
    border: 1px solid black;
    padding: 10px;
    margin: 10px auto;
    width: min-content;
}
.pageNumber {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 6px 3px 6px;
    margin: 0 5px;
}
.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}

.buttonWrapper {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 175px;
}

.buttonNext, .buttonPrevious  {
    padding: 3px;
    cursor: pointer;
}