.formControl {
    border-radius: 0;
}

.formControl.error input,
.formControl.error textarea {
    border: solid red 1px;
}

.formSummaryError {
    border: solid red 1px;
    padding: 5px;
    color: rosybrown;
}